body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main: #fffffe;
  --dark: #094067;
  --secondary: #90b4ce;
  --primary: #3da9fc;
  --tertiary: #ef4565;
}

main {
  background-color: var(--main);
}

h1, h2, h3, h4, h5 {
  color: black
}

div.card {
  background-color: var(--main);
  color: var(--dark)
}

div.card-body {
  background-color: var(--main);
  color: var(--dark)
}

.btn.btn-primary {
  background-color: var(--primary);
  color:var(--dark)
}

